<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mauto.bigbaby">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiffUtil.BigDiffUtilsActivity"
            android:label="@string/label_diffutils" />
        <activity android:name=".err.fragment.BigErrFragmentActivity" />
        <activity android:name=".err.fragment.BigErrMainActivity" />
        <activity android:name=".arch_components.LiveData_Lifecycle.BigLiveDataActivity" />
        <activity android:name=".arch_components.LiveData_Lifecycle.BigLifecycleActivity" />
        <activity android:name=".ut.BigUnitTestActivity"></activity>
    </application>

</manifest>