<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mauto.bigbaby">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BabyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiffUtil.BigDiffUtilsActivity"
            android:label="@string/label_diffutils" />
        <activity android:name=".err.fragment.tag.BigErrTagActivity" />
        <activity android:name=".err.fragment.BigErrFragmentActivity" />
        <activity android:name=".arch_components.LiveData_Lifecycle_ViewModel.BigLiveDataActivity" />
        <activity android:name=".arch_components.LiveData_Lifecycle_ViewModel.BigLifecycleActivity" />
        <activity android:name=".ut.BigUnitTestActivity" />
        <activity android:name=".err.BigErrMainActivity" />
        <activity android:name=".err.fragment.attach.BigErrAttachActivity" />
        <activity android:name=".thread.BigThreadActivity" />
        <activity
            android:name=".depthOfActivity.BigActivity"
            android:persistableMode="persistAcrossReboots">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".librarys.recyclerview.BigLibRecyclerActivity" />
        <activity android:name=".librarys.recyclerview.sortedlist.BigSortedActivity" />
        <activity android:name=".target26.service.BigServiceActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".target26.service.BigSampleService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".target26.service.BigTestService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".share.BigShareActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="news_receiver"
                    android:scheme="smsshare" />
            </intent-filter>
        </activity>
        <activity android:name=".algorithm.BigAlgorithmActivity" />
        <activity android:name=".librarys.recyclerview.AsyncList.BigAsyncListActivity" />
        <activity
            android:name=".markdown.MarkdownBrowserActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="markdown"
                    android:scheme="bigbaby" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BigBaseActivity"></activity>
    </application>

</manifest>